table, td, th {
    color: antiquewhite;
    border: 2px solid azure !important;
    text-align: center !important;
    vertical-align: middle !important;
    font-size: 22px;
}

.split {
    border-bottom: 2px solid rgb(0, 195, 255) !important;
}

table {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    right: 15%;
}


#intro {
    border: rgb(0, 195, 255) solid 2px;
    background-color: rgb(243, 238, 232);
    display: flex;
    color: black;
    font-size: 24px;
}

#yap {
    text-align: left;
    font-size: 22px;
    padding: 2%;
}

h2 {
    font-size: 50px;
    color: whitesmoke;
    border-bottom: solid 1px rgb(0, 195, 255);
}

ol {
    list-style-position: outside;
    color: rgb(0, 195, 255);
    padding: 0;
    margin: 0;
}

li {
    font-size: 50px;
}


/* color id */

#perfect {
    color:rgb(255, 208, 0);
}

#good {
    color: rgba(0, 102, 255, 0.993);
}

#bad {
    color: rgb(245, 77, 35);
}